@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This project was created by Mohammad Habib (Co-Chair). This project was created to meet the
    Programming III .NET deadline due in for 12th April 2018.
</p>
<br />
<p>
    The project was created using many different programming and development technologies,
    Some of these technologies are listed below.
</p>
<ul>
    <li>ASP.NET MVC 5</li>
    <li>C# Programming Language</li>
    <li>HTML / CSS</li>
    <li>jQuery / Ajax</li>
    <li>Razor View Engine</li>
    <li>Entity Framework</li>
    <li>Database - SQL</li>
    <li>APIs / DTOs</li>
</ul>  
<p>
    Thank you for visiting my ASP.NET project!
</p>