@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">This application provides information service functionalites using ASP.NET MVC 5. Two levels of authentication are provided:</p>
    <p style="">All Users</p>
    <p>Home, User, Events/Activities, Chair and Co-Chair,  Log in, About Us</p>
    <br />
    <p>Administrators</p>
    <p>Home, User (CRUD), Events/Activities (CRUD), Chair and Co-Chair, Log Off, About Us</p>
    <br />
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Co-Chair - Mohammad</h3>
        <p>
            The following information is about the Co-Chair of the Research Working Group.
            You may find more information about the Co-Chair through his personal GitHub below.
        </p>
        <p><a class="btn btn-default" href="https://github.com/MHabib96">GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Chair - Usman</h3>
        <p>
            The following information is about the Chair of the Research Working Group.
            You may find more information about the Chair through his personal GitHub below.
        </p>
        <p><a class="btn btn-default" href="https://github.com/usmankhan95">GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Chair - Josh</h3>
        <p>
            The following information is about the Chair of the Research Working Group.
            You may find more information about the Chair through his personal GitHub below.
        </p>
        <p><a class="btn btn-default" href="https://github.com/JoshDoug">GitHub &raquo;</a></p>
    </div>
</div>